@model int
<div class="container row p-3">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center"> Reservation successful.</h1>
        Reservation Id: @Model
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Your reservation has been finalized successfully! <br/>
    </div>

</div>

