
@if(TempData["success"] != null){
    <div class="alert alert-success"> @TempData["success"]</div>
}

@if(TempData["danger"] != null){
    <div class="alert alert-danger"> @TempData["success"]</div>
}